
nav{
    background-color:#FF6B81;
    padding: 15px;
    position: relative;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    gap: 20px;
    margin: 0;
    padding-right: 20px;
}

.navbar {
    background-color:#845EC2;
    padding: 10px 20px;

}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    width: 80px;
    
}
    
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover{
    color: #B5EAD7;
}
body{
    font-family: 'Poppins' , sans-serif;
}



.fruit-smoothies,
.protein-smoothies,
.detox-smoothies{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0;
}
.menu-section{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.card{
    background-color:rgb(175, 143, 175);
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition:0.3s;
}
.card:hover{
    transform: translateY(-10px);
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;

}
.smoothie{
    text-align: center;
}
h2{
    margin-top: 40px;
}
.button{
    display: inline-block;
    color: white;
    padding:10px 20px ;
    text-decoration: none;
    border-radius: 25px;
    background-color: #D65DB1;
    margin-top: 10px;
}
.button:hover{
    background-color: #845EC2;
}
.popsmoothies img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}
.popsmoothies{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FBEAFF;
}
h1, p{
    margin-left: 20px;
}
h1, h2 {
    text-align: center;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color:#845EC2;
    letter-spacing: 2px;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    text-transform: uppercase;
}
h1::after{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: rgb(90, 141, 141);
    margin: 10px auto;
}
h2{
    color: #D65DB1;
    text-align: center;
}

       

.price-btn{
    font-size:18px;
    font-weight: bold;
    background-color: #ff69b4;
    color: white;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    transition:0.3s;
}
.price-btn:hover{
    background-color: #965578;
    transform: scale(1.1);
}
.price-btn:active{
    transform: scale(0.95);
}

.cart{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color:black;
    color: white;
    padding: 8px 12 px;
    border-radius: 20px;
    font-weight: bold;
}
/*About page*/
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    min-height: 80vh;
}
.about-text{
    max-width: 500px;
    text-align: left;
}

.about-image{
    width:100%;
    border-radius: 20px;
    height: auto;
}
.about-text h1{
    font-size: 36px;
    margin-bottom: 20px;
}
footer{
    background-color: #845EC2;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

footer p{
    margin: 0;
    font-size: 14px;
}